<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>flow freer</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    </head>
    <body>
        <h1 class="rainbow"><span class="a">f</span><span class="b">l</span><span class="c">o</span><span class="d">w </span><span class="e">f</span><span class="a">r</span><span class="b">e</span><span class="c">e</span><span class="d">r</span>
        </h1>
        <table id="table">
            <tr v-for="(row, i) in puzzle" :key="i">
                <td v-for="(cell, j) in row" :key="j" @click="toggleCell(i, j)">
                    <div><div>
                        <div :class="cellEndpoint(cell)"></div>
                        <div :class="cellClass(cell)"></div>
                    </div></div>
                </td>
            </tr>
        </table>
        <br><br>
        <fieldset id="controls">
            <legend>Controls</legend>
            <fieldset>
                <legend>Board Size</legend>
                <input type="number" id="rows" v-model="rows" min="1" max="20"> x
                <input type="number" id="cols" v-model="cols" min="1" max="20">
            </fieldset>
            <fieldset>
                <legend>Algorithm</legend>
                <input type="radio" id="pather" name="mode" value="pather" v-model="mode" checked>
                <label for="pather">Pather</label>
                <br>
                <input type="radio" id="SAT" name="mode" value="SAT" v-model="mode">
                <label for="SAT">SAT</label>
            </fieldset>
            <div>
                <button id="solve" @click="solveBoard()" class="b">Solve</button>
                <button id="reset" @click="reset()" class="a">Reset Board</button>
                <button id="clear" @click="clear()" class="c">Apply Settings</button>
            </div>
        </fieldset>
        <script src="solve.js"></script>
        <script src="app.js"></script
    </body>
</html>