@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: Lexend, Arial, sans-serif;
    background-color: rgb(17, 17, 17);
    color: rgb(183, 183, 183);
}

body {
    padding-left: 30%;
    padding-right: 30%;
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}

h1 {
    text-align: center;
    font-size: 40pt;
}

h1 > .a {
    color: rgb(201, 8, 8);
}
h1 > .b {
    color: rgb(18, 131, 18);
}
h1 > .c {
    color: rgb(45, 79, 234);
}
h1 > .d {
    color: rgb(223, 211, 0);
}
h1 > .e {
    color: rgb(255, 119, 0);
}

div > .a {
    background-color: rgb(201, 8, 8);
}
div > .b {
    background-color: rgb(18, 131, 18);
}
div > .c {
    background-color: rgb(45, 79, 234);
}
div > .d {
    background-color: rgb(223, 211, 0);
}
div > .e {
    background-color: rgb(255, 119, 0);
}
div > .f {
    background-color: rgb(255, 255, 255);
}
div > .g {
    background-color: rgb(0, 199, 202);
}
div > .h {
    background-color: rgb(131, 14, 146);
}
div > .i {
    background-color: rgb(2, 227, 137);
}
div > .j {
    background-color: rgb(94, 0, 86);
}
div > .k {
    background-color: rgb(220, 101, 249);
}
div > .l {
    background-color: rgb(47, 113, 213);
}
div > .m {
    background-color: rgb(50, 196, 140);
}
div > .n {
    background-color: rgb(115, 115, 115);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid rgb(53, 53, 53);
    text-align: center;
    height: 0;
    width: 1%;
}

td > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

td > div > div {
    width: 100%;
    height: 100%;
}

.circle {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.link {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 130%;
    height: 30%;
    transform-origin: 10% 50%;
    border-radius: 10px;
}

.lt {
    transform: rotate(180deg);
}

.rt {
    transform: rotate(0deg);
}

.up {
    transform: rotate(-90deg);
}

.dn {
    transform: rotate(90deg);
}

fieldset {
    border: 2px solid rgb(183, 183, 183);
    padding: 10px;
    border-radius: 5px;
    color: rgb(183, 183, 183);
    box-sizing: border-box;
    margin: 10px 0px;
}

button {
    color: rgb(183, 183, 183);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Lexend, Arial, sans-serif;
    box-sizing: border-box;
    margin-right: 5px;
}

button:hover {
    filter: brightness(1.5);
}

input[type="number"] {
    color: rgb(183, 183, 183);
    border: 2px solid rgb(183, 183, 183);
    background-color: rgb(17, 17, 17);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Lexend, Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

input[type="file"] {
    color: rgb(183, 183, 183);
    background-color: rgb(17, 17, 17);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Lexend, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(167, 45, 181);
    color: rgb(183, 183, 183);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Lexend, Arial, sans-serif;
    box-sizing: border-box;
}

input[type="file"]::-webkit-file-upload-button:hover {
    filter: brightness(1.5);
}

canvas {
    display: none;
}

a {
    color: rgb(125, 78, 255);
    text-decoration: none;
}